:root {
  --ifm-dark-value: 10%;
  --ifm-darker-value: 15%;
  --ifm-darkest-value: 30%;
  --ifm-light-value: 15%;
  --ifm-lighter-value: 30%;
  --ifm-lightest-value: 50%;
  --ifm-color-primary: #3578e5;
  --ifm-color-primary-dark: rgb(48, 108, 206);
  --ifm-color-primary-darker: rgb(45, 102, 195);
  --ifm-color-primary-darkest: rgb(37, 84, 160);
  --ifm-color-primary-light: rgb(83, 140, 233);
  --ifm-color-primary-lighter: rgb(114, 161, 237);
  --ifm-color-primary-lightest: rgb(154, 188, 242);

  --ifm-color-secondary: #ebedf0;
  --ifm-color-secondary-dark: rgb(212, 213, 216);
  --ifm-color-secondary-darker: rgb(200, 201, 204);
  --ifm-color-secondary-darkest: rgb(164, 166, 168);
  --ifm-color-secondary-light: rgb(238, 240, 242);
  --ifm-color-secondary-lighter: rgb(241, 242, 245);
  --ifm-color-secondary-lightest: rgb(245, 246, 248);

  --ifm-color-success: #00a400;
  --ifm-color-success-dark: rgb(0, 148, 0);
  --ifm-color-success-darker: rgb(0, 139, 0);
  --ifm-color-success-darkest: rgb(0, 115, 0);
  --ifm-color-success-light: rgb(38, 178, 38);
  --ifm-color-success-lighter: rgb(77, 191, 77);
  --ifm-color-success-lightest: rgb(128, 210, 128);

  --ifm-color-info: #54c7ec;
  --ifm-color-info-dark: rgb(76, 179, 212);
  --ifm-color-info-darker: rgb(71, 169, 201);
  --ifm-color-info-darkest: rgb(59, 139, 165);
  --ifm-color-info-light: rgb(110, 207, 239);
  --ifm-color-info-lighter: rgb(135, 216, 242);
  --ifm-color-info-lightest: rgb(170, 227, 246);

  --ifm-color-warning: #ffba00;
  --ifm-color-warning-dark: rgb(230, 167, 0);
  --ifm-color-warning-darker: rgb(217, 158, 0);
  --ifm-color-warning-darkest: rgb(179, 130, 0);
  --ifm-color-warning-light: rgb(255, 196, 38);
  --ifm-color-warning-lighter: rgb(255, 207, 77);
  --ifm-color-warning-lightest: rgb(255, 221, 128);

  --ifm-color-danger: #fa383e;
  --ifm-color-danger-dark: rgb(225, 50, 56);
  --ifm-color-danger-darker: rgb(213, 48, 53);
  --ifm-color-danger-darkest: rgb(175, 39, 43);
  --ifm-color-danger-light: rgb(251, 86, 91);
  --ifm-color-danger-lighter: rgb(251, 116, 120);
  --ifm-color-danger-lightest: rgb(253, 156, 159);

  --ifm-color-white: #fff;
  --ifm-color-black: #000;

  --ifm-color-gray-0: var(--ifm-color-white);
  --ifm-color-gray-100: #f5f6f7;
  --ifm-color-gray-200: #ebedf0;
  --ifm-color-gray-300: #dadde1;
  --ifm-color-gray-400: #ccd0d5;
  --ifm-color-gray-500: #bec3c9;
  --ifm-color-gray-600: #8d949e;
  --ifm-color-gray-700: #606770;
  --ifm-color-gray-800: #444950;
  --ifm-color-gray-900: #1c1e21;
  --ifm-color-gray-1000: var(--ifm-color-black);

  --ifm-color-emphasis-0: var(--ifm-color-gray-0);
  --ifm-color-emphasis-100: var(--ifm-color-gray-100);
  --ifm-color-emphasis-200: var(--ifm-color-gray-200);
  --ifm-color-emphasis-300: var(--ifm-color-gray-300);
  --ifm-color-emphasis-400: var(--ifm-color-gray-400);
  --ifm-color-emphasis-500: var(--ifm-color-gray-500);
  --ifm-color-emphasis-600: var(--ifm-color-gray-600);
  --ifm-color-emphasis-700: var(--ifm-color-gray-700);
  --ifm-color-emphasis-800: var(--ifm-color-gray-800);
  --ifm-color-emphasis-900: var(--ifm-color-gray-900);
  --ifm-color-emphasis-1000: var(--ifm-color-gray-1000);
  --ifm-color-content: var(--ifm-color-emphasis-900);
  --ifm-color-content-inverse: var(--ifm-color-emphasis-0);
  --ifm-color-content-secondary: #606770;

  --ifm-background-color: transparent;
  --ifm-background-surface-color: var(--ifm-color-content-inverse);
  --ifm-global-border-width: 1px;
  --ifm-global-radius: 0.4rem;

  --ifm-hover-overlay: rgba(0, 0, 0, 0.05);
  --ifm-font-color-base: var(--ifm-color-content);
  --ifm-font-color-base-inverse: var(--ifm-color-content-inverse);
  --ifm-font-color-secondary: var(--ifm-color-content-secondary);
  --ifm-font-family-base: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont,
    'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  --ifm-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --ifm-font-size-base: 100%;

  --ifm-font-weight-light: 300;
  --ifm-font-weight-normal: 400;
  --ifm-font-weight-semibold: 500;
  --ifm-font-weight-bold: 700;

  --ifm-font-weight-base: var(--ifm-font-weight-normal);
  --ifm-line-height-base: 1.65;
  --ifm-global-spacing: 1rem;
  --ifm-spacing-vertical: var(--ifm-global-spacing);
  --ifm-spacing-horizontal: var(--ifm-global-spacing);
  --ifm-transition-fast: 200ms;
  --ifm-transition-slow: 400ms;
  --ifm-global-shadow-lw: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  --ifm-global-shadow-md: 0 5px 40px rgba(0, 0, 0, 0.2);
  --ifm-global-shadow-tl: 0 12px 28px 0 rgba(0, 0, 0, 0.2),
    0 2px 4px 0 rgba(0, 0, 0, 0.1);
  --ifm-z-index-dropdown: 100;
  --ifm-z-index-fixed: 200;
  --ifm-z-index-overlay: 400;
}
