/* THEME ELEMENTS BELOW THIS LINE */

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--ifm-container-width);
  padding-left: var(--ifm-spacing-horizontal);
  padding-right: var(--ifm-spacing-horizontal);
  width: 100%;
}
.container--fluid {
    max-width: inherit;
  }
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(var(--ifm-spacing-horizontal) * -1);
  margin-right: calc(var(--ifm-spacing-horizontal) * -1);
}
.row--no-gutters {
    margin-left: 0;
    margin-right: 0;
  }
.row--no-gutters > .col {
      padding-left: 0;
      padding-right: 0;
    }
.row--align-top {
    align-items: flex-start;
  }
.row--align-bottom {
    align-items: flex-end;
  }
.row--align-center {
    align-items: center;
  }
.row--align-stretch {
    align-items: stretch;
  }
.row--align-baseline {
    align-items: baseline;
  }
.row .col {
    --ifm-col-width: 100%;

    display: block;
    flex: 1 0;
    margin-left: 0;
    max-width: 100%;
    padding-left: var(--ifm-spacing-horizontal);
    padding-right: var(--ifm-spacing-horizontal);
    width: 100%;
  }
.row .col[class*='col--'] {
      flex: 0 0 var(--ifm-col-width);
      max-width: var(--ifm-col-width);
    }
@media (max-width: 996px) {
      .row .col.col.col {
        --ifm-col-width: 100%;
        flex-basis: var(--ifm-col-width);
        margin-left: 0;

        max-width: var(--ifm-col-width);
      }
    }
.row .col.col--1 {
        --ifm-col-width: calc(1 / 12 * 100%);

        flex: 0 0 var(--ifm-col-width);
        max-width: var(--ifm-col-width);
      }
.row .col.col--offset-1 {
        margin-left: calc(1 / 12 * 100%);
      }
.row .col.col--2 {
        --ifm-col-width: calc(2 / 12 * 100%);

        flex: 0 0 var(--ifm-col-width);
        max-width: var(--ifm-col-width);
      }
.row .col.col--offset-2 {
        margin-left: calc(2 / 12 * 100%);
      }
.row .col.col--3 {
        --ifm-col-width: calc(3 / 12 * 100%);

        flex: 0 0 var(--ifm-col-width);
        max-width: var(--ifm-col-width);
      }
.row .col.col--offset-3 {
        margin-left: calc(3 / 12 * 100%);
      }
.row .col.col--4 {
        --ifm-col-width: calc(4 / 12 * 100%);

        flex: 0 0 var(--ifm-col-width);
        max-width: var(--ifm-col-width);
      }
.row .col.col--offset-4 {
        margin-left: calc(4 / 12 * 100%);
      }
.row .col.col--5 {
        --ifm-col-width: calc(5 / 12 * 100%);

        flex: 0 0 var(--ifm-col-width);
        max-width: var(--ifm-col-width);
      }
.row .col.col--offset-5 {
        margin-left: calc(5 / 12 * 100%);
      }
.row .col.col--6 {
        --ifm-col-width: calc(6 / 12 * 100%);

        flex: 0 0 var(--ifm-col-width);
        max-width: var(--ifm-col-width);
      }
.row .col.col--offset-6 {
        margin-left: calc(6 / 12 * 100%);
      }
.row .col.col--7 {
        --ifm-col-width: calc(7 / 12 * 100%);

        flex: 0 0 var(--ifm-col-width);
        max-width: var(--ifm-col-width);
      }
.row .col.col--offset-7 {
        margin-left: calc(7 / 12 * 100%);
      }
.row .col.col--8 {
        --ifm-col-width: calc(8 / 12 * 100%);

        flex: 0 0 var(--ifm-col-width);
        max-width: var(--ifm-col-width);
      }
.row .col.col--offset-8 {
        margin-left: calc(8 / 12 * 100%);
      }
.row .col.col--9 {
        --ifm-col-width: calc(9 / 12 * 100%);

        flex: 0 0 var(--ifm-col-width);
        max-width: var(--ifm-col-width);
      }
.row .col.col--offset-9 {
        margin-left: calc(9 / 12 * 100%);
      }
.row .col.col--10 {
        --ifm-col-width: calc(10 / 12 * 100%);

        flex: 0 0 var(--ifm-col-width);
        max-width: var(--ifm-col-width);
      }
.row .col.col--offset-10 {
        margin-left: calc(10 / 12 * 100%);
      }
.row .col.col--11 {
        --ifm-col-width: calc(11 / 12 * 100%);

        flex: 0 0 var(--ifm-col-width);
        max-width: var(--ifm-col-width);
      }
.row .col.col--offset-11 {
        margin-left: calc(11 / 12 * 100%);
      }
.row .col.col--12 {
        --ifm-col-width: calc(12 / 12 * 100%);

        flex: 0 0 var(--ifm-col-width);
        max-width: var(--ifm-col-width);
      }
.row .col.col--offset-12 {
        margin-left: calc(12 / 12 * 100%);
      }

:root {
  --ifm-leading-desktop: 1.25;
  --ifm-leading: calc(var(--ifm-leading-desktop) * 1rem);
}



:root {
  --ifm-card-background-color: var(--ifm-background-surface-color);
  --ifm-card-border-radius: calc(var(--ifm-global-radius) * 2);
  --ifm-card-horizontal-spacing: var(--ifm-global-spacing);
  --ifm-card-vertical-spacing: var(--ifm-global-spacing);
}
.card {
  background-color: var(--ifm-card-background-color);
  border-radius: var(--ifm-card-border-radius);
  box-shadow: var(--ifm-global-shadow-lw);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.card--full-height {
    height: 100%;
  }
.card__image {
    padding-top: var(--ifm-card-vertical-spacing);
  }
.card__image:first-child {
      padding-top: 0;
    }
.card__header,
  .card__body,
  .card__footer {
    padding: var(--ifm-card-vertical-spacing) var(--ifm-card-horizontal-spacing);
  }
.card__header:not(:last-child), .card__body:not(:last-child), .card__footer:not(:last-child) {
      padding-bottom: 0;
    }
.card__header > :last-child, .card__body > :last-child, .card__footer > :last-child {
      margin-bottom: 0;
    }
.card__footer {
    margin-top: auto;
  }
:root {
  --ifm-toc-border-color: var(--ifm-color-emphasis-300);
  --ifm-toc-link-color: var(--ifm-color-content-secondary);
  --ifm-toc-padding-left: 0.5rem;
  --ifm-toc-padding-vertical: 0.5rem;
}
.table-of-contents {
  font-size: 0.8rem;
  margin-bottom: 0;
  padding-bottom: var(--ifm-toc-padding-vertical);
  padding-top: var(--ifm-toc-padding-vertical);
}
.table-of-contents,
  .table-of-contents ul {
    list-style-type: none;
    padding-left: var(--ifm-toc-padding-left);
  }
.table-of-contents li {
    margin: var(--ifm-toc-padding-vertical);
  }
.table-of-contents__left-border {
    border-left-color: var(--ifm-toc-border-color);
    border-left-style: solid;
    border-left-width: 1px;
  }
.table-of-contents__link {
    color: var(--ifm-toc-link-color);
  }
.table-of-contents__link:hover,
    .table-of-contents__link:hover code,
    .table-of-contents__link--active,
    .table-of-contents__link--active code {
      color: var(--ifm-color-primary);
      text-decoration: none;
    }
.close {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  color: var(--ifm-color-black);
  cursor: pointer;
  float: right;
  font-size: 1.5rem;
  font-weight: var(--ifm-font-weight-bold);
  line-height: 1;
  opacity: 0.5;
  outline: 0;
  padding: 1rem;
}
.close:hover {
    opacity: 0.7;
  }
.close:focus {
    opacity: 0.8;
  }
:root {
  --ifm-dropdown-background-color: var(--ifm-background-surface-color);
  --ifm-dropdown-font-weight: var(--ifm-font-weight-semibold);
  --ifm-dropdown-link-color: var(--ifm-font-color-base);
  --ifm-dropdown-hover-background-color: var(--ifm-hover-overlay);
}
.dropdown {
  display: inline-flex;
  font-weight: var(--ifm-dropdown-font-weight);
  position: relative;
  vertical-align: top;
}
.dropdown--hoverable:hover .dropdown__menu, .dropdown--show .dropdown__menu {
      display: block;
    }
.dropdown--right .dropdown__menu {
      right: 0;
    }
.dropdown--nocaret .navbar__link:after {
    content: none !important;
  }
.dropdown__menu {
    background-color: var(--ifm-dropdown-background-color);
    border-radius: var(--ifm-global-radius);
    box-shadow: var(--ifm-global-shadow-md);
    display: none;
    min-width: 10rem;
    list-style: none;
    padding: 0.5rem;
    position: absolute;
    top: 100%;
    z-index: var(--ifm-z-index-dropdown);
  }
.dropdown__link {
    border-radius: 0.375rem;
    color: var(--ifm-dropdown-link-color);
    display: block;
    font-size: 0.875rem;
    padding: 0.375rem 0.5rem;
    white-space: nowrap;
  }
.dropdown__link:hover,
    .dropdown__link--active {
      background-color: var(--ifm-dropdown-hover-background-color);
      text-decoration: none;
      color: var(--ifm-dropdown-link-color);
    }
.dropdown__link--active,
    .dropdown__link--active:hover {
      --ifm-dropdown-link-color: var(--ifm-link-color);
    }
.dropdown > .navbar__link:after {
    border-color: currentColor;
    border-top: 0.4em solid;
    border-right: 0.4em solid transparent;
    border-bottom: 0;
    border-left: 0.4em solid transparent;
    content: '';
    display: inline-block;
    margin-left: 0.3em;
    vertical-align: 0.15em;
  }
:root {
  --ifm-footer-background-color: var(--ifm-color-emphasis-100);
  --ifm-footer-color: inherit;
  --ifm-footer-link-color: var(--ifm-color-emphasis-700);
  --ifm-footer-link-hover-color: var(--ifm-color-primary);
  --ifm-footer-link-horizontal-spacing: 0.5rem;
  --ifm-footer-padding-horizontal: calc(var(--ifm-spacing-horizontal) * 2);
  --ifm-footer-padding-vertical: calc(var(--ifm-spacing-vertical) * 2);
  --ifm-footer-title-color: inherit;
}
.footer {
  background-color: var(--ifm-footer-background-color);
  color: var(--ifm-footer-color);
  padding: var(--ifm-footer-padding-vertical)
    var(--ifm-footer-padding-horizontal);
  width: 100%;
}
.footer--dark {
    --ifm-footer-background-color: #303846;
    --ifm-footer-color: var(--ifm-footer-link-color);
    --ifm-footer-link-color: var(--ifm-color-secondary);
    --ifm-footer-title-color: var(--ifm-color-white);
  }
.footer__links {
    margin-bottom: 1rem;
  }
.footer__link-item {
    color: var(--ifm-footer-link-color);
    line-height: 2;
  }
.footer__link-item:hover {
      color: var(--ifm-footer-link-hover-color);
    }
.footer__link-separator {
    margin-left: var(--ifm-footer-link-horizontal-spacing);
    margin-right: var(--ifm-footer-link-horizontal-spacing);
  }
.footer__logo {
    margin-top: 1rem;
    max-width: 10rem;
  }
.footer__title {
    color: var(--ifm-footer-title-color);
  }
.footer__item {
    margin-top: 0;
  }
.footer__items {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
  }
@media (max-width: 996px) {
.footer {
    --ifm-footer-padding-horizontal: 0
}

    .footer__link-separator {
      display: none;
    }

    .footer__col {
      margin-bottom: calc(var(--ifm-spacing-vertical) * 3);
    }

    .footer__link-item {
      display: block;
    }
  }
[type='checkbox'] {
  padding: 0;
}
:root {
  --ifm-hero-background-color: var(--ifm-background-surface-color);
  --ifm-hero-text-color: var(--ifm-color-emphasis-800);
}
.hero {
  align-items: center;
  background-color: var(--ifm-hero-background-color);
  color: var(--ifm-hero-text-color);
  display: flex;
  padding: 4rem 2rem;
}
.hero--primary {
    --ifm-hero-background-color: var(--ifm-color-primary);
    --ifm-hero-text-color: var(--ifm-font-color-base-inverse);
  }
.hero--dark {
    --ifm-hero-background-color: #303846;
    --ifm-hero-text-color: var(--ifm-color-white);
  }
.hero__title {
    font-size: 3rem;
  }
.hero__subtitle {
    font-size: 1.5rem;
  }
@media (max-width: 996px) {
.hero {
    padding-left: 0;
    padding-right: 0
}
  }
:root {
  --ifm-menu-color: var(--ifm-color-emphasis-700);
  --ifm-menu-color-active: var(--ifm-color-primary);
  --ifm-menu-color-background-active: var(--ifm-hover-overlay);
  --ifm-menu-color-background-hover: var(--ifm-hover-overlay);
  --ifm-menu-link-padding-horizontal: 1rem;
  --ifm-menu-link-padding-vertical: 0.375rem;
  --ifm-menu-link-sublist-icon: url('data:image/svg+xml;utf8,<svg alt="Arrow" xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgba(0,0,0,0.5)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
}
.menu {
  font-weight: var(--ifm-font-weight-semibold);
  overflow-x: hidden;
}
.menu__list {
    margin: 0;
    list-style-type: none;
    padding-left: 0;
    transition: height var(--ifm-transition-fast)
      cubic-bezier(0.08, 0.52, 0.52, 1);
  }
.menu__list .menu__list {
      margin-left: var(--ifm-menu-link-padding-horizontal);
    }
.menu__list-item {
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
  }
.menu__list-item--collapsed .menu__list {
        height: 0;
        overflow: hidden;
      }
.menu__list-item--collapsed .menu__link--sublist:after {
        transform: rotateZ(90deg);
      }
.menu__link {
    border-radius: 0.25rem;
    color: var(--ifm-menu-color);
    cursor: pointer;
    display: flex;
    line-height: 20px;
    justify-content: space-between;
    margin: 0;
    padding: var(--ifm-menu-link-padding-vertical)
      var(--ifm-menu-link-padding-horizontal);
  }
.menu__link:hover {
      text-decoration: none;
    }
.menu__link--sublist:after {
      background-image: var(--ifm-menu-link-sublist-icon);
      background-size: 2rem 2rem;
      background-position: center;
      content: ' ';
      display: inline-block;
      height: 1.25rem;
      width: 1.25rem;
      transition: transform var(--ifm-transition-fast) linear;
      transform: rotate(180deg);
    }
.menu__link:hover {
      background: var(--ifm-menu-color-background-hover);
      color: var(--ifm-menu-color);
    }
.menu__link--active {
      color: var(--ifm-menu-color-active);
    }
.menu__link--active:hover {
        color: var(--ifm-menu-color-active);
      }
.menu__link--active:not(.menu__link--sublist) {
        background: var(--ifm-menu-color-background-active);
      }
.menu--responsive .menu__button {
      bottom: 2rem;
      display: none;
      position: fixed;
      right: 1rem;
      z-index: var(--ifm-z-index-fixed);
    }
@media (max-width: 996px) {
.menu--responsive .menu__button {
        display: inherit
    }
      }
@media (max-width: 996px) {
      .menu--responsive .menu__list {
        display: none;
        opacity: 0;
      }
    }
.menu--show {
    -ms-scroll-chaining: none;
    background: var(--ifm-background-surface-color);
    bottom: 0;
    left: 0;
    overscroll-behavior: contain;
    padding: 1rem;
    position: fixed;
    right: 0;
    top: 0;
    z-index: var(--ifm-z-index-overlay);
  }
.menu--show .menu__list {
      display: inherit;
      opacity: 100;
      transition: opacity var(--ifm-transition-fast) linear;
    }
:root {
  --ifm-navbar-background-color: var(--ifm-background-surface-color);
  --ifm-navbar-height: 3.75rem;
  --ifm-navbar-item-padding-horizontal: 1rem;
  --ifm-navbar-item-padding-vertical: 0.25rem;
  --ifm-navbar-link-color: var(--ifm-font-color-base);
  --ifm-navbar-link-hover-color: var(--ifm-color-primary);
  --ifm-navbar-link-active-color: var(--ifm-link-color);
  --ifm-navbar-padding-horizontal: var(--ifm-spacing-horizontal);
  --ifm-navbar-padding-vertical: calc(var(--ifm-spacing-vertical) * 0.5);
  --ifm-navbar-shadow: var(--ifm-global-shadow-lw);
  --ifm-navbar-search-input-background-color: var(--ifm-color-emphasis-200);
  --ifm-navbar-search-input-color: var(--ifm-color-emphasis-800);
  --ifm-navbar-search-input-placeholder-color: var(--ifm-color-emphasis-500);
  --ifm-navbar-search-input-icon: url('data:image/svg+xml;utf8,<svg fill="currentColor" alt="Search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="16px" width="16px"><path d="M6.02945,10.20327a4.17382,4.17382,0,1,1,4.17382-4.17382A4.15609,4.15609,0,0,1,6.02945,10.20327Zm9.69195,4.2199L10.8989,9.59979A5.88021,5.88021,0,0,0,12.058,6.02856,6.00467,6.00467,0,1,0,9.59979,10.8989l4.82338,4.82338a.89729.89729,0,0,0,1.29912,0,.89749.89749,0,0,0-.00087-1.29909Z" /></svg>');
  --ifm-navbar-sidebar-width: 80vw;
}
.navbar {
  background-color: var(--ifm-navbar-background-color);
  box-shadow: var(--ifm-navbar-shadow);
  box-sizing: border-box;
  display: flex;
  height: var(--ifm-navbar-height);
  padding: var(--ifm-navbar-padding-vertical)
    var(--ifm-navbar-padding-horizontal);
  width: 100%;
}
.navbar > .container,
  .navbar > .container-fluid {
    display: flex;
  }
@media (max-width: 996px) {
.navbar > .container,
  .navbar > .container-fluid {
      padding: 0
  }
    }
.navbar--fixed-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: var(--ifm-z-index-fixed);
  }
.navbar__inner {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
.navbar__brand {
    align-items: center;
    color: var(--ifm-navbar-link-color);
    display: flex;
    font-weight: bold;
    height: 2rem;
    margin-right: 1rem;
  }
.navbar__brand:hover {
      text-decoration: none;
      color: inherit;
    }
.navbar__title {
    flex-shrink: 0;
    max-width: 100%;
  }
.navbar__toggle {
    cursor: pointer;
    display: none;
    margin-right: 0.5rem;
  }
@media (max-width: 996px) {
.navbar__toggle {
      display: inherit
  }
    }
.navbar__logo {
    height: 100%;
    margin-right: 0.5rem;
  }
.navbar__items {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
  }
.navbar__items--center {
      flex: 0 0 auto;
    }
.navbar__items--center .navbar__brand {
        margin: 0;
      }
.navbar__items--right {
      justify-content: flex-end;
    }
.navbar__item {
    display: inline-block;
    padding: var(--ifm-navbar-item-padding-vertical)
      var(--ifm-navbar-item-padding-horizontal);
  }
.navbar__item.dropdown {
      padding: 0;
    }
.navbar__item.dropdown .navbar__link {
        pointer-events: none;
      }
@media (max-width: 996px) {
.navbar__item {
      display: none
  }
    }
.navbar__link {
    color: var(--ifm-navbar-link-color);
    cursor: pointer;
    font-weight: var(--ifm-font-weight-semibold);
    padding: var(--ifm-navbar-item-padding-vertical)
      var(--ifm-navbar-item-padding-horizontal);
    text-decoration: none;
  }
.navbar__link:hover,
    .navbar__link--active {
      color: var(--ifm-navbar-link-hover-color);
      text-decoration: none;
    }
.navbar __brand {
    color: var(--ifm-navbar-link-color);
  }
.navbar--dark {
    --ifm-navbar-background-color: #303846;
    --ifm-navbar-link-color: var(--ifm-color-white);
    --ifm-navbar-link-hover-color: var(--ifm-color-primary);
    --ifm-navbar-search-input-background-color: rgba(255, 255, 255, 0.1);
    --ifm-navbar-search-input-color: var(--ifm-color-white);
    --ifm-navbar-search-input-placeholder-color: rgba(255, 255, 255, 0.5);
  }
.navbar--primary {
    --ifm-navbar-background-color: var(--ifm-color-primary);
    --ifm-navbar-link-hover-color: var(--ifm-color-white);
    --ifm-navbar-search-input-background-color: rgba(255, 255, 255, 0.1);
    --ifm-navbar-search-input-color: var(--ifm-color-emphasis-500);
    --ifm-navbar-search-input-placeholder-color: rgba(255, 255, 255, 0.5);
  }
.navbar__search {
    padding-left: var(--ifm-navbar-padding-horizontal);
  }
.navbar__search-input {
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      background-color: var(--ifm-navbar-search-input-background-color);
      background-image: var(--ifm-navbar-search-input-icon);
      background-position-x: 0.75rem;
      background-position-y: center;
      background-repeat: no-repeat;
      background-size: 1rem 1rem;
      border-radius: 2rem;
      border-width: 0;
      cursor: text;
      color: var(--ifm-navbar-search-input-color);
      display: inline-block;
      font-size: 0.9rem;
      line-height: 2rem;
      outline: none;
      padding: 0 0.5rem 0 2.25rem;
      width: 12.5rem;
    }
.navbar__search-input::-webkit-input-placeholder {
        color: var(--ifm-navbar-search-input-placeholder-color);
      }
.navbar__search-input::-moz-placeholder {
        color: var(--ifm-navbar-search-input-placeholder-color);
      }
.navbar__search-input:-ms-input-placeholder {
        color: var(--ifm-navbar-search-input-placeholder-color);
      }
.navbar__search-input::-ms-input-placeholder {
        color: var(--ifm-navbar-search-input-placeholder-color);
      }
.navbar__search-input::placeholder {
        color: var(--ifm-navbar-search-input-placeholder-color);
      }
@media (max-width: 996px) {
.navbar__search-input {
        width: 9rem
    }
      }
.navbar-sidebar {
    background-color: var(--ifm-navbar-background-color);
    bottom: 0;
    box-shadow: var(--ifm-global-shadow-md);
    display: none;
    left: 0;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    transition: transform var(--ifm-transition-fast) ease;
    width: var(--ifm-navbar-sidebar-width);
    overflow: auto;
  }
.navbar-sidebar--show .navbar-sidebar {
        transform: translateX(0);
      }
.navbar-sidebar--show .navbar-sidebar__backdrop {
        display: block;
      }
@media (max-width: 996px) {
.navbar-sidebar {
      display: block
  }
    }
.navbar-sidebar__backdrop {
      background-color: rgba(0, 0, 0, 0.6);
      bottom: 0;
      display: none;
      left: 0;
      right: 0;
      position: fixed;
      top: 0;
    }
.navbar-sidebar__brand {
      align-items: center;
      box-shadow: var(--ifm-navbar-shadow);
      display: flex;
      height: var(--ifm-navbar-height);
      padding: var(--ifm-navbar-padding-vertical)
        var(--ifm-navbar-padding-horizontal);
    }
.navbar-sidebar__items {
      padding: 0.5rem;
    }
:root {
  --ifm-pagination-border-radius: calc(
    var(--ifm-global-radius) * var(--ifm-pagination-size-multiplier)
  );
  --ifm-pagination-color-active: var(--ifm-color-primary);
  --ifm-pagination-font-size: 1rem;
  --ifm-pagination-item-active-background: var(--ifm-hover-overlay);
  --ifm-pagination-page-spacing: 0.0625rem;
  --ifm-pagination-padding-horizontal: calc(var(--ifm-spacing-horizontal) * 1);
  --ifm-pagination-padding-vertical: calc(var(--ifm-spacing-vertical) * 0.25);
  --ifm-pagination-size-multiplier: 1;
}
.pagination {
  font-size: var(--ifm-pagination-font-size);
  padding-left: 0;
}
.pagination--sm {
    --ifm-pagination-font-size: 0.8rem;
    --ifm-pagination-padding-horizontal: 0.8rem;
    --ifm-pagination-padding-vertical: 0.2rem;
  }
.pagination--lg {
    --ifm-pagination-font-size: 1.2rem;
    --ifm-pagination-padding-horizontal: 1.2rem;
    --ifm-pagination-padding-vertical: 0.3rem;
  }
.pagination__item {
    display: inline-block;
    list-style-type: none;
  }
.pagination__item:not(:first-child) {
      margin-left: var(--ifm-pagination-page-spacing);
    }
.pagination__item:not(:last-child) {
      margin-right: var(--ifm-pagination-page-spacing);
    }
.pagination__item > span {
      padding: var(--ifm-pagination-padding-vertical);
    }
.pagination__item--active .pagination__link {
        background: var(--ifm-pagination-item-active-background);
        color: var(--ifm-pagination-color-active);
      }
.pagination__item:not(.pagination__item--active):hover .pagination__link {
        background: var(--ifm-pagination-item-active-background);
        transition: background var(--ifm-transition-fast)
          cubic-bezier(0.08, 0.52, 0.52, 1);
      }
.pagination__item--disabled,
    .pagination__item[disabled] {
      opacity: 0.25;
      pointer-events: none;
    }
.pagination__link {
    border-radius: var(--ifm-pagination-border-radius);
    color: var(--ifm-font-color-base);
    display: inline-block;
    padding: var(--ifm-pagination-padding-vertical)
      var(--ifm-pagination-padding-horizontal);
  }
.pagination__link:hover {
      text-decoration: none;
    }
:root {
  --ifm-pagination-nav-border-radius: var(--ifm-global-radius);
  --ifm-pagination-nav-color-hover: var(--ifm-color-primary);
}
.pagination-nav {
  display: flex;
}
.pagination-nav__item {
    display: flex;
    flex-basis: 50%;
    flex-grow: 1;
    max-width: 50%;
  }
.pagination-nav__item--next {
      text-align: right;
    }
.pagination-nav__item + .pagination-nav__item {
      margin-left: var(--ifm-spacing-horizontal);
    }
.pagination-nav__link {
    border-color: var(--ifm-color-emphasis-300);
    border-radius: var(--ifm-pagination-nav-border-radius);
    border-style: solid;
    border-width: 1px;
    display: block;
    flex-grow: 1;
    padding: var(--ifm-global-spacing);
  }
.pagination-nav__link:hover {
      border-color: var(--ifm-pagination-nav-color-hover);
      text-decoration: none;
    }
.pagination-nav__label {
    font-size: var(--ifm-h4-font-size);
    line-height: var(--ifm-heading-line-height);
    font-weight: var(--ifm-heading-font-weight);
    margin-bottom: 0;
    margin-top: 0;
    word-break: break-word;
  }
.pagination-nav__sublabel {
    font-size: var(--ifm-h5-font-size);
    line-height: var(--ifm-heading-line-height);
    color: var(--ifm-color-content-secondary);
    font-weight: var(--ifm-font-weight-semibold);
    margin-bottom: 0.25rem;
  }
:root {
  --ifm-pills-color-active: var(--ifm-color-primary);
  --ifm-pills-color-background-active: var(--ifm-hover-overlay);
  --ifm-pills-spacing: 0.0625rem;
}
.pills {
  font-weight: var(--ifm-font-weight-bold);
  padding-left: 0;
}
.pills__item {
    border-radius: 0.5rem;
    cursor: pointer;
    display: inline-block;
    list-style-type: none;
    padding: 0.25rem 1rem;
  }
.pills__item--active {
      background: var(--ifm-pills-color-background-active);
      color: var(--ifm-pills-color-active);
    }
.pills__item:not(.pills__item--active):hover {
      background-color: var(--ifm-pills-color-background-active);
      transition: background var(--ifm-transition-fast)
        cubic-bezier(0.08, 0.52, 0.52, 1);
    }
.pills__item:not(:first-child) {
      margin-left: var(--ifm-pills-spacing);
    }
.pills__item:not(:last-child) {
      margin-right: var(--ifm-pills-spacing);
    }
.pills__item + .pills__item {
      margin-top: 0;
    }
.pills--block {
    display: flex;
    justify-content: stretch;
  }
@media (max-width: 996px) {
.pills--block {
      flex-direction: column
  }
    }
.pills--block .pills__item {
      flex-grow: 1;
      text-align: center;
    }
@media (max-width: 996px) {
        .pills--block .pills__item:not(:first-child) {
          margin-top: var(--ifm-pills-spacing);
        }

        .pills--block .pills__item:not(:last-child) {
          margin-bottom: var(--ifm-pills-spacing);
        }
      }
:root {
  --ifm-tabs-color: var(--ifm-font-color-secondary);
  --ifm-tabs-color-active: var(--ifm-color-primary);
  --ifm-tabs-padding-horizontal: 1rem;
  --ifm-tabs-padding-vertical: 1rem;
  --ifm-tabs-spacing: 0.0625rem;
}
.tabs {
  display: flex;
  overflow-x: auto;
  color: var(--ifm-tabs-color);
  font-weight: var(--ifm-font-weight-bold);
  margin-bottom: 0;
  padding-left: 0;
}
.tabs__item {
    box-sizing: content-box;
    border-bottom: 3px solid transparent;
    border-radius: var(--ifm-global-radius);
    cursor: pointer;
    display: inline-flex;
    list-style-type: none;
    padding: var(--ifm-tabs-padding-vertical) var(--ifm-tabs-padding-horizontal);
    margin: 0;
  }
.tabs__item--active {
      border-bottom-color: var(--ifm-tabs-color-active);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      color: var(--ifm-tabs-color-active);
    }
.tabs__item:hover {
      background-color: var(--ifm-hover-overlay);
    }
.tabs--block {
    justify-content: stretch;
  }
@media (max-width: 996px) {
.tabs--block {
      flex-direction: column
  }
    }
.tabs--block .tabs__item {
      flex-grow: 1;
      justify-content: center;
    }
@media (max-width: 996px) {
        .tabs--block .tabs__item:not(:first-child) {
          margin-top: var(--ifm-tabs-spacing);
        }

        .tabs--block .tabs__item:not(:last-child) {
          margin-bottom: var(--ifm-tabs-spacing);
        }
      }
.shadow--lw {
    box-shadow: var(--ifm-global-shadow-lw) !important;
  }
.shadow--md {
    box-shadow: var(--ifm-global-shadow-md) !important;
  }
.shadow--tl {
    box-shadow: var(--ifm-global-shadow-tl) !important;
  }
.text--primary {
    color: var(--ifm-color-primary);
  }
.text--secondary {
    color: var(--ifm-color-secondary);
  }
.text--success {
    color: var(--ifm-color-success);
  }
.text--info {
    color: var(--ifm-color-info);
  }
.text--warning {
    color: var(--ifm-color-warning);
  }
.text--danger {
    color: var(--ifm-color-danger);
  }
.text--center {
    text-align: center;
  }
.text--left {
    text-align: left;
  }
.text--justify {
    text-align: justify;
  }
.text--right {
    text-align: right;
  }
.text--capitalize {
    text-transform: capitalize;
  }
.text--lowercase {
    text-transform: lowercase;
  }
.text--uppercase {
    text-transform: uppercase;
  }
.text--light {
    font-weight: var(--ifm-font-weight-light);
  }
.text--normal {
    font-weight: var(--ifm-font-weight-normal);
  }
.text--semibold {
    font-weight: var(--ifm-font-weight-semibold);
  }
.text--bold {
    font-weight: var(--ifm-font-weight-bold);
  }
.text--italic {
  font-style: italic;
}
.text--truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text--break {
  word-break: break-word !important;
  word-wrap: break-word !important;
}
.text--no-decoration,
  .text--no-decoration:hover {
    text-decoration: none;
  }
html[data-theme='dark'] {
  --ifm-color-emphasis-0: var(--ifm-color-gray-1000);
  --ifm-color-emphasis-100: var(--ifm-color-gray-900);
  --ifm-color-emphasis-200: var(--ifm-color-gray-800);
  --ifm-color-emphasis-300: var(--ifm-color-gray-700);
  --ifm-color-emphasis-400: var(--ifm-color-gray-600);
  --ifm-color-emphasis-500: var(--ifm-color-gray-500);
  --ifm-color-emphasis-600: var(--ifm-color-gray-400);
  --ifm-color-emphasis-700: var(--ifm-color-gray-300);
  --ifm-color-emphasis-800: var(--ifm-color-gray-200);
  --ifm-color-emphasis-900: var(--ifm-color-gray-100);
  --ifm-color-emphasis-1000: var(--ifm-color-gray-0);

  --ifm-background-color: #18191a;
  --ifm-background-surface-color: #242526;

  --ifm-hover-overlay: rgba(255, 255, 255, 0.05);

  --ifm-menu-link-sublist-icon: url('data:image/svg+xml;utf8,<svg alt="Arrow" xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgba(255,255,255,0.6)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');

  --ifm-color-content-secondary: rgba(255, 255, 255, 1);
}
