.buttonContainer {
    display: flex;
    align-items: center;
}

.button {
    background-color: var(--ifm-color-primary);
    border: 1px solid transparent;
    color: var(--ifm-color-white);
    border-radius: 8px;
    padding: 12px;
    font-size: 15px !important;
    font-weight: 600;
    cursor: pointer;
}

.rasaButton[disabled] {
    background-color: var(--ifm-color-gray-500);
    cursor: default;
}

.buttonSpinner {
    margin: 8px;
    color: var(--ifm-color-gray-500);
}
