version: 2
updates:
  - package-ecosystem: pip
    # we enforce `increase` here because it ensures that we maintain a small range of
    # compatible versions; it speeds up installation with pip for our customers
    version-strategy: increase
    directory: "/"
    schedule:
      interval: weekly
      time: "13:00"
    pull-request-branch-name:
      separator: "-"
    open-pull-requests-limit: 10
    labels:
      - type:dependencies
      - release:main
    ignore:
      - dependency-name: prompt-toolkit
        versions:
          - "> 2.0.10"
      - dependency-name: pytest-asyncio
        versions:
          - "> 0.10.0"

  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
      day: monday
      time: "12:00"
    pull-request-branch-name:
      separator: "-"
    open-pull-requests-limit: 10
    reviewers:
      - RasaHQ/infrastructure-squad
    labels:
      - type:dependencies
