.close {
  appearance: none;
  background: none;
  border: none;
  color: var(--ifm-color-black);
  cursor: pointer;
  float: right;
  font-size: 1.5rem;
  font-weight: var(--ifm-font-weight-bold);
  line-height: 1;
  opacity: 0.5;
  outline: 0;
  padding: 1rem;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.8;
  }
}
