:root {
  --ifm-dropdown-background-color: var(--ifm-background-surface-color);
  --ifm-dropdown-font-weight: var(--ifm-font-weight-semibold);
  --ifm-dropdown-link-color: var(--ifm-font-color-base);
  --ifm-dropdown-hover-background-color: var(--ifm-hover-overlay);
}

.dropdown {
  display: inline-flex;
  font-weight: var(--ifm-dropdown-font-weight);
  position: relative;
  vertical-align: top;

  &--hoverable:hover,
  &--show {
    ^&__menu {
      display: block;
    }
  }

  &--right {
    ^&__menu {
      right: 0;
    }
  }
  
  &--nocaret .navbar__link:after {
    content: none !important;
  }

  &__menu {
    background-color: var(--ifm-dropdown-background-color);
    border-radius: var(--ifm-global-radius);
    box-shadow: var(--ifm-global-shadow-md);
    display: none;
    min-width: 10rem;
    list-style: none;
    padding: 0.5rem;
    position: absolute;
    top: 100%;
    z-index: var(--ifm-z-index-dropdown);
  }
  
  &__link {
    border-radius: 0.375rem;
    color: var(--ifm-dropdown-link-color);
    display: block;
    font-size: 0.875rem;
    padding: 0.375rem 0.5rem;
    white-space: nowrap;

    &:hover,
    &--active {
      background-color: var(--ifm-dropdown-hover-background-color);
      text-decoration: none;
      color: var(--ifm-dropdown-link-color);
    }
    
    &--active,
    &--active:hover {
      --ifm-dropdown-link-color: var(--ifm-link-color);
    }
  }
  
  & > .navbar__link:after {
    border-color: currentColor;
    border-top: 0.4em solid;
    border-right: 0.4em solid transparent;
    border-bottom: 0;
    border-left: 0.4em solid transparent;
    content: '';
    display: inline-block;
    margin-left: 0.3em;
    vertical-align: 0.15em;
  }
}
