:root {
  --ifm-pagination-nav-border-radius: var(--ifm-global-radius);
  --ifm-pagination-nav-color-hover: var(--ifm-color-primary);
}

.pagination-nav {
  display: flex;

  &__item {
    display: flex;
    flex-basis: 50%;
    flex-grow: 1;
    max-width: 50%;
    
    &--next {
      text-align: right;
    }
    
    & + & {
      margin-left: var(--ifm-spacing-horizontal);
    }
  }

  &__link {
    border-color: var(--ifm-color-emphasis-300);
    border-radius: var(--ifm-pagination-nav-border-radius);
    border-style: solid;
    border-width: 1px;
    display: block;
    flex-grow: 1;
    padding: var(--ifm-global-spacing);
    
    &:hover {
      border-color: var(--ifm-pagination-nav-color-hover);
      text-decoration: none;
    }
  }
  
  &__label {
    font-size: var(--ifm-h4-font-size);
    line-height: var(--ifm-heading-line-height);
    font-weight: var(--ifm-heading-font-weight);
    margin-bottom: 0;
    margin-top: 0;
    word-break: break-word;
  }
  
  &__sublabel {
    font-size: var(--ifm-h5-font-size);
    line-height: var(--ifm-heading-line-height);
    color: var(--ifm-color-content-secondary);
    font-weight: var(--ifm-font-weight-semibold);
    margin-bottom: 0.25rem;
  }
}
