[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    def create_argument_parser
    if typing.TYPE_CHECKING
    # Ellipsis are used as placeholders in python 3 that will be overridden
    \.\.\.
[run]
source = rasa
