*~
*pyc
dist/
data/*
!data/examples
docs/_build
server/
*.log
scala/
mongodb/
.cache/
build/lib/
build/
model_*/
*.egg-info/
jnk/
logs/
tmp/
profile.*
*.sqlite
*dat
lastmile_ai/learn/plots/
*npy
*#
*pkl
config.json
*log.json
.coverage
.coveralls.yml
.idea/
*.iml
rasa_nlu
out/
.vscode/
rasa_nlu_logs.json
tmp_training_data.json
.DS_Store
model_*