*~
*pyc
dist/
data/*
!data/examples
!data/test
!data/README.md
docs/_build
server/
scala/
mongodb/
.cache/
build/
*.egg-info/
jnk/
logs/
tmp/
profile.*
*.sqlite
lastmile_ai/learn/plots/
*npy
*#
/config.json
*log.json
.coverage
.coveralls.yml
.idea/
*.iml
out/
.vscode/
tmp_training_data.json
.DS_Store
models/
projects/
test_models/model_*
test_projects/test_project_*

rasa_nlu/tmbo_test.py
.mypy_cache/
*.tar.gz
docs/key
docs/key.pub
secrets.tar
.pytest_cache
