*~
*pyc
dist/
data/*
!data/examples
docs/_build
server/
*.log
scala/
mongodb/
.cache/
build/lib/
build/
*.egg-info/
jnk/
logs/
tmp/
profile.*
*.sqlite
lastmile_ai/learn/plots/
*npy
*#
/config.json
*log.json
.coverage
.coveralls.yml
.idea/
*.iml
rasa_nlu
out/
.vscode/
rasa_nlu_logs.json
tmp_training_data.json
.DS_Store
models/
test_models/model_*
tmp_config_file.json
rasa_nlu_log-*
