repos:
  - repo: https://github.com/ambv/black
    rev: 22.10.0
    hooks:
      - id: black
        args: [--line-length=88]
  - repo: https://github.com/thlorenz/doctoc
    rev: v2.1.0
    hooks:
      - id: doctoc
        files: "CONTRIBUTING.md"
  - repo: local
    hooks:
      - id: docstring-check
        name: docstring-check
        entry: bash -c 'make lint-docstrings'
        language: system
        types: [python]
        pass_filenames: false
