# install requirements
-r requirements.txt

# test
python-coveralls==2.9.1
pytest-cov==2.5.1
pytest-flask==0.10.0
pytest-pep8==1.0.6
pytest-services==1.2.1
pytest-xdist==1.15.0

# other
rasa_nlu==0.10.1
matplotlib==1.5.3
pygraphviz==1.3.1

# docs
sphinx-autobuild==0.6.0
sphinxcontrib-versioning==2.2.1
sphinxcontrib-httpdomain==1.5.0
nbsphinx==0.2.13
pygments==2.2.0
-e git://github.com/RasaHQ/sphinx_rtd_theme.git#egg=sphinx_rtd_theme
