# install requirements
-r requirements.txt

# test
pytest==3.5.1
pytest-pep8==1.0.6
pytest-cov==2.5.1
pytest_localserver==0.4.1
treq==17.8.0
freezegun==0.3.10
responses==0.9.0
httpretty==0.9.5

# other
matplotlib==2.2.2

# docs
-r docs-requirements.txt
