include LICENSE.txt README.md requirements.txt dev-requirements.txt
include rasa_core/schemas/* rasa_core/training/visualization.html
include rasa_core/default_config.yml
recursive-include rasa/cli/initial_project *
