## Setup py requirements
-e .
apscheduler==3.3.1
fakeredis==0.8.2
future==0.16.0
graphviz==0.7.1
h5py==2.7.0
jsonpickle==0.9.4
keras==2.0.8
numpy==1.13.1
pandoc==1.0.0b2
redis==2.10.5
six==1.10.0
tensorflow==1.1.0
typing==3.6.2
networkx==1.11
pymessenger==0.0.7.0
tqdm==4.11.2
ConfigArgParse==0.12.0
pykwalify==1.6.0
