## Setup py requirements
jsonpickle==0.9.6
redis==2.10.6
fakeredis==0.10.3
future==0.16.0
numpy==1.14.5
typing==3.6.4
ruamel.yaml==0.15.66
requests==2.20.0
keras==2.1.6
tensorflow==1.10.0
h5py==2.8.0
apscheduler==3.5.1
tqdm==4.23.3
ConfigArgParse==0.13.0
networkx==2.1
fbmessenger==5.2.0
pykwalify<=1.6.0
coloredlogs==10.0
flask==1.0.2
flask_cors==3.0.4
scikit-learn==0.19.2
rasa_nlu~=0.13.0
slackclient==1.2.1
python-telegram-bot==10.1.0
twilio==6.14.0
webexteamssdk==1.0.3
mattermostwrapper==2.1
colorhash==1.0.2
pika==0.11.2
jsonschema==2.6.0
packaging==17.1
gevent==1.2.2
pytz==2018.4
rasa_core_sdk~=0.12.1
pymongo==3.5.1
python-dateutil==2.7.3
rocketchat_API==0.6.22
colorclass==2.2.0
terminaltables==3.1.0
PyInquirer==1.0.2
flask-jwt-simple==0.0.3
python-socketio==2.0.0
prompt_toolkit==1.0.14
pydot==1.2.4
