-e .
gevent==1.2.1       # MIT
flask==0.12         # BSD 3-clause
boto3==1.4.4        # Apache License 2.0
typing==3.5.3.0     # PSF
future==0.16.0      # MIT
six==1.10.0         # MIT
jsonschema==2.6.0   # MIT
