# base and pipeline dependencies
# requirements_full.txt includes requirements.txt, so no need to
# include it here.
-r alt_requirements/requirements_full.txt

# test
pytest-cov==2.7.1
pytest-localserver==0.5.0
pytest-sanic==1.0.0
pytest-asyncio==0.10.0
pytest-xdist==1.29.0
pytest==5.1.3
freezegun==0.3.12
responses==0.10.9
nbsphinx==0.3.2
aioresponses==0.6.0
moto==1.3.8
fakeredis==1.0.3
six>=1.12.0   # upstream - should be removed if fakeredis depends on at least 1.12.0
mongomock==3.18.0

# lint/format/types
black==19.10b0
flake8==3.7.8
pytype==2019.7.11

# other
google-cloud-storage==1.7.0
azure-storage-blob==1.0.0
coveralls==1.7.0

# release tools
semantic_version==2.8.3
towncrier==19.2.0
