@import '@lunelson/sass-throw/index';
@import '@lunelson/sass-calc/index';
@import '@lunelson/sass-lerp/index';
// @import '@lunelson/sass-maps-next/index';

// INFIMA
@import 'infima/config';
@import 'infima/default';

// RESETS
// @import 'resets/destyle';
@import 'resets/custom';

// THEME
// @import 'theme/atomic';
@import 'theme/fonts';
@import 'theme/root';
@import 'theme/header';
@import 'theme/footer';
@import 'theme/global';
@import 'theme/prose';

@import 'theme/alerts';
@import 'theme/avatars';
@import 'theme/badges';
@import 'theme/breadcrumbs';
@import 'theme/buttons';


.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/**
  FIXME: should be next to component, but at the moment it's loaded minified.
  Once we can use `rasa-ui` outside of `rasa-x`, we can fix this.
*/
#rasa-chat-block {
  height: 600px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}
/**
  FIXME: fixes a font issue on the chat block initial screen,
  far from perfect but not as ugly as before
*/
h4.css-1m1icag {
  font-family: var(--ifm-font-family-base);
}
