:root {
  --ifm-alert-background-color: inherit;
  --ifm-alert-border-color: inherit;
  --ifm-alert-border-radius: var(--ifm-global-radius);
  --ifm-alert-border-width: var(--ifm-global-border-width);
  --ifm-alert-color: var(--ifm-font-color-base-inverse);
  --ifm-alert-padding-horizontal: var(--ifm-spacing-horizontal);
  --ifm-alert-padding-vertical: var(--ifm-spacing-vertical);
}
.alert {
  background-color: var(--ifm-alert-background-color);
  border-color: var(--ifm-alert-border-color);
  border-style: solid;
  border-width: var(--ifm-alert-border-width);
  border-radius: var(--ifm-alert-border-radius);
  box-sizing: border-box;
  color: var(--ifm-alert-color);
  padding: var(--ifm-alert-padding-vertical) var(--ifm-alert-padding-horizontal);
}
.alert--primary {
      --ifm-alert-background-color: var(--ifm-color-primary);
      --ifm-alert-border-color: var(--ifm-color-primary);
    }
.alert--secondary {
      --ifm-alert-background-color: var(--ifm-color-secondary);
      --ifm-alert-border-color: var(--ifm-color-secondary);
    }
.alert--success {
      --ifm-alert-background-color: var(--ifm-color-success);
      --ifm-alert-border-color: var(--ifm-color-success);
    }
.alert--info {
      --ifm-alert-background-color: var(--ifm-color-info);
      --ifm-alert-border-color: var(--ifm-color-info);
    }
.alert--warning {
      --ifm-alert-background-color: var(--ifm-color-warning);
      --ifm-alert-border-color: var(--ifm-color-warning);
    }
.alert--danger {
      --ifm-alert-background-color: var(--ifm-color-danger);
      --ifm-alert-border-color: var(--ifm-color-danger);
    }
.alert a {
    color: var(--ifm-alert-color);
    text-decoration: underline;
  }
.alert--secondary {
    --ifm-alert-color: var(--ifm-color-gray-900);
  }
.alert .close {
    margin-right: calc(var(--ifm-alert-padding-horizontal) * -1);
    margin-top: calc(var(--ifm-alert-padding-vertical) * -1);
  }
