:root {
  --ifm-button-background-color:inherit;
  --ifm-button-border-color:var(--ifm-button-background-color);
  --ifm-button-border-width:var(--ifm-global-border-width);
  --ifm-button-color:var(--ifm-font-color-base-inverse);
  --ifm-button-font-weight:var(--ifm-font-weight-bold);
  --ifm-button-padding-horizontal:1.5rem;
  --ifm-button-padding-vertical:0.375rem;
  --ifm-button-size-multiplier:1;
  --ifm-button-transition-duration:var(--ifm-transition-fast);
  --ifm-button-border-radius:calc( var(--ifm-global-radius) * var(--ifm-button-size-multiplier) );
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--ifm-button-background-color);
  border-color: var(--ifm-button-border-color);
  border-style: solid;
  border-width: var(--ifm-button-border-width);
  border-radius: var(--ifm-button-border-radius);
  box-sizing: border-box;
  color: var(--ifm-button-color);
  cursor: pointer;
  display: inline-block;
  font-size: calc(0.875rem * var(--ifm-button-size-multiplier));
  font-weight: var(--ifm-button-font-weight);
  line-height: 1.5;
  outline: 0;
  padding: calc( var(--ifm-button-padding-vertical) * var(--ifm-button-size-multiplier) ) calc( var(--ifm-button-padding-horizontal) * var(--ifm-button-size-multiplier) );
  text-align: center;
  text-decoration: none;
  transition: color var(--ifm-button-transition-duration) cubic-bezier(0.08, 0.52, 0.52, 1), background var(--ifm-button-transition-duration) cubic-bezier(0.08, 0.52, 0.52, 1), border-color var(--ifm-button-transition-duration) cubic-bezier(0.08, 0.52, 0.52, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    color: var(--ifm-button-color);
    outline: 0;
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }
}

.button--outline {
  --ifm-button-background-color:transparent;
  --ifm-button-color:var(--ifm-button-border-color);

  &:hover {
    --ifm-button-background-color:var(--ifm-button-border-color);
    --ifm-button-color:var(--ifm-font-color-base-inverse);
  }

  &:active, &.button--active {
    --ifm-button-color:var(--ifm-font-color-base-inverse);
  }
}

.button--link {
  --ifm-button-background-color:transparent;
  --ifm-button-border-color:transparent;
  color: var(--ifm-link-color);
  -webkit-text-decoration: var(--ifm-link-decoration);
  text-decoration: var(--ifm-link-decoration);

  &:hover, &:active, &.button--active {
    color: var(--ifm-link-hover-color);
    -webkit-text-decoration: var(--ifm-link-hover-decoration);
    text-decoration: var(--ifm-link-hover-decoration);
  }
}

.button {
  &.disabled, &:disabled, &[disabled] {
    opacity: 0.65;
    pointer-events: none;
  }
}

.button--sm {
  --ifm-button-size-multiplier:0.8;
}

.button--lg {
  --ifm-button-size-multiplier:1.35;
}

.button--block {
  display: block;
  width: 100%;
}

.button.button--secondary {
  color: var(--ifm-color-gray-900);

  &.button--outline:not(.button--active):not(:hover) {
    color: var(--ifm-font-color-base);
  }
}

.button--primary {
  --ifm-button-border-color:var(--ifm-color-primary);

  &:not(.button--outline) {
    --ifm-button-background-color:var(--ifm-color-primary);

    &:hover {
      --ifm-button-background-color:var(--ifm-color-primary-dark);
      --ifm-button-border-color:var(--ifm-color-primary-dark);
    }
  }

  &:active, &.button--active {
    --ifm-button-border-color:var(--ifm-color-primary-darker);
    --ifm-button-background-color:var(--ifm-color-primary-darker);
    background-color: var(--ifm-color-primary-darker);
    border-color: var(--ifm-color-primary-darker);
  }
}

.button--secondary {
  --ifm-button-border-color:var(--ifm-color-secondary);

  &:not(.button--outline) {
    --ifm-button-background-color:var(--ifm-color-secondary);

    &:hover {
      --ifm-button-background-color:var(--ifm-color-secondary-dark);
      --ifm-button-border-color:var(--ifm-color-secondary-dark);
    }
  }

  &:active, &.button--active {
    --ifm-button-border-color:var(--ifm-color-secondary-darker);
    --ifm-button-background-color:var(--ifm-color-secondary-darker);
    background-color: var(--ifm-color-secondary-darker);
    border-color: var(--ifm-color-secondary-darker);
  }
}

.button--success {
  --ifm-button-border-color:var(--ifm-color-success);

  &:not(.button--outline) {
    --ifm-button-background-color:var(--ifm-color-success);

    &:hover {
      --ifm-button-background-color:var(--ifm-color-success-dark);
      --ifm-button-border-color:var(--ifm-color-success-dark);
    }
  }

  &:active, &.button--active {
    --ifm-button-border-color:var(--ifm-color-success-darker);
    --ifm-button-background-color:var(--ifm-color-success-darker);
    background-color: var(--ifm-color-success-darker);
    border-color: var(--ifm-color-success-darker);
  }
}

.button--info {
  --ifm-button-border-color:var(--ifm-color-info);

  &:not(.button--outline) {
    --ifm-button-background-color:var(--ifm-color-info);

    &:hover {
      --ifm-button-background-color:var(--ifm-color-info-dark);
      --ifm-button-border-color:var(--ifm-color-info-dark);
    }
  }

  &:active, &.button--active {
    --ifm-button-border-color:var(--ifm-color-info-darker);
    --ifm-button-background-color:var(--ifm-color-info-darker);
    background-color: var(--ifm-color-info-darker);
    border-color: var(--ifm-color-info-darker);
  }
}

.button--warning {
  --ifm-button-border-color:var(--ifm-color-warning);

  &:not(.button--outline) {
    --ifm-button-background-color:var(--ifm-color-warning);

    &:hover {
      --ifm-button-background-color:var(--ifm-color-warning-dark);
      --ifm-button-border-color:var(--ifm-color-warning-dark);
    }
  }

  &:active, &.button--active {
    --ifm-button-border-color:var(--ifm-color-warning-darker);
    --ifm-button-background-color:var(--ifm-color-warning-darker);
    background-color: var(--ifm-color-warning-darker);
    border-color: var(--ifm-color-warning-darker);
  }
}

.button--danger {
  --ifm-button-border-color:var(--ifm-color-danger);

  &:not(.button--outline) {
    --ifm-button-background-color:var(--ifm-color-danger);

    &:hover {
      --ifm-button-background-color:var(--ifm-color-danger-dark);
      --ifm-button-border-color:var(--ifm-color-danger-dark);
    }
  }

  &:active, &.button--active {
    --ifm-button-border-color:var(--ifm-color-danger-darker);
    --ifm-button-background-color:var(--ifm-color-danger-darker);
    background-color: var(--ifm-color-danger-darker);
    border-color: var(--ifm-color-danger-darker);
  }
}

:root {
  --ifm-button-group-margin:2px;
}

.button-group {
  display: inline-flex;

  > {
    .button {
      &:not(:first-child) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        margin-left: var(--ifm-button-group-margin);
      }

      &:not(:last-child) {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
    }

    .button--active {
      z-index: 1;
    }
  }
}

.button-group--block {
  display: flex;
  justify-content: stretch;

  > .button {
    flex-grow: 1;
  }
}
