@font-face {
  font-family: 'GraphikWeb';
  src: url('/fonts/Graphik-Regular-Web.woff2') format('woff2'),
    url('/fonts/Graphik-Regular-Web.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GraphikWeb';
  src: url('/fonts/Graphik-Medium-Web.woff2') format('woff2'),
    url('/fonts/Graphik-Medium-Web.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

// @font-face {
//   font-family: 'GraphikWeb';
//   src: url('/fonts/Graphik-Semibold-Web.woff2') format('woff2'),
//     url('/fonts/Graphik-Semibold-Web.woff') format('woff');
//   font-weight: 700;
//   font-style: normal;
//   font-stretch: normal;
//   font-display: swap;
// }

@font-face {
  font-family: 'JetBrainsMono';
  src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
    url('/fonts/JetBrainsMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

// @font-face {
//   font-family: 'JetBrainsMono';
//   src: url('/fonts/JetBrainsMono-Medium.woff2') format('woff2'),
//     url('/fonts/JetBrainsMono-Medium.woff') format('woff');
//   font-weight: 400;
//   font-style: normal;
//   font-stretch: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'JetBrainsMono';
//   src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2'),
//     url('/fonts/JetBrainsMono-Bold.woff') format('woff');
//   font-weight: 700;
//   font-style: normal;
//   font-stretch: normal;
//   font-display: swap;
// }
