version: '3.8'

services:

 prometheus:
    image: prom/prometheus:v2.50.1
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks: [ 'rasa-pro-network' ]
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--enable-feature=otlp-write-receiver'
    ports:
      - "9090:9090"

 rasa-pro-assistant:
    image: ${TARGET_IMAGE_REGISTRY}/rasa-pro:${IMAGE_TAG}
    volumes:
      - "./calm_bot:/app"
      - "./endpoints-metrics.yml:/app/endpoints.yml"
      - "./certs:/app/certs"
    networks: [ 'rasa-pro-network' ]
    entrypoint: ""
    command: rasa run -p 5005 --enable-api
    ports:
      - "5005:5005"
    environment:
      - RASA_PRO_LICENSE=${RASA_PRO_LICENSE}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    depends_on:
      otlp-collector:
        condition: service_started
      action-server:
        condition: service_started


 otlp-collector:
   image: otel/opentelemetry-collector:0.96.0
   volumes:
     - ./otlp-collector-config.yaml:/etc/otelcol/config.yaml
     - ./certs:/etc/otelcol-tls
   networks: [ 'rasa-pro-network' ]
   ports:
     - "4317:4317" # otlp grpc receiver
     - "8888:8888" # Prometheus' metrics exposed by the collector
     - "8889:8889" # Prometheus exporter configured metrics

 action-server:
  image: rasa/rasa-sdk:3.7.1
  volumes:
    - ./calm_bot/actions:/app/actions
  networks: [ 'rasa-pro-network' ]
  ports:
    - "5055:5055"

networks: { rasa-pro-network: { } }
