dl.glossary dt {
    margin-top: 20px;
    margin-bottom: 0px;
}

dl.glossary dd {
    margin-top: 2px;
}

.toggle .header {
    display: block;
    clear: both;
}

.toggle .header:after {
    content: "▶ show";
    cursor: pointer;
}

.toggle .header.open:after {
    content: "▼ hide";
    cursor: pointer;
}