.phOuter {
  position: relative;
}

.phInner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phText {
  font-family: sans-serif;
  font-size: 14px;
  text-align: center;
}
