{% if current_flow != None %}
You are currently in the flow {{ current_flow }}.
You have just asked the user for the slot {{ current_slot }}{% if current_slot_type %} of type {{ current_slot_type }}{% endif %}{% if current_slot_allowed_values %} with allowed values {{ current_slot_allowed_values }}{% endif %}{% if current_slot_description %} ({{ current_slot_description }}){% endif %}.
{% endif %}
