# credentials for the Postgres database used in integration tests
PGUSER=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
# credentials for RabbitMQ used in integration tests
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
# credentials for MongoDB used in integration tests
DB_PORT=27017
DB_ROOT_USER=root
DB_ROOT_PASSWORD=rootpass
DB_USER=user
DB_PASSWORD=userpass
DB_NAME=rasa
