/* This file intentionally left blank. */
/* Consent banner styles */
.consent-banner{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #CED3DD;
  color: #666;
  font-size: 12px;
  line-height: 1em;
  padding: 10px 0;
  z-index: 999;
  display: none;
}
.consent-banner.visible{
  display: block;
}
.consent-banner .container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-height: 30px;
}
.consent-banner .cookie-icon{
  width: 24px;
  margin-right: 10px;
}
.consent-banner p{
  display: inline-block;
  font-size: inherit;
  margin: 0;
  padding: 0;
  line-height: 16px;
}
.consent-banner a{
  text-decoration: underline;
}
.consent-banner .agree{
  margin-left: 4px;
}
