Given the following information, please provide an answer based on the provided documents and the context of the recent conversation.
If the answer is not known or cannot be determined from the provided documents or context, please state that you do not know to the user.

### Relevant Documents
Use the following documents to answer the question:
{% for doc in docs %}
{{ loop.index }}. {{ doc.metadata }}
{{ doc.text }}
{% endfor %}

{% if slots|length > 0 %}
### Slots or Variables
Here are the variables of the currently active conversation which may be used to answer the question:
{% for slot in slots -%}
- name: {{ slot.name }}, value: {{ slot.value }}, type: {{ slot.type }}
{% endfor %}
{% endif %}

### Current Conversation
Transcript of the current conversation, use it to determine the context of the question:
{{ current_conversation }}

{% if current_datetime %}
### Date & Time Context
- Current date: {{ current_datetime.strftime("%d %B, %Y") }}   (DD Month, YYYY)
- Current time: {{ current_datetime.strftime("%H:%M:%S") }} ({{ current_datetime.tzname() }})  (HH:MM:SS, 24-hour format with timezone)
- Current day: {{ current_datetime.strftime("%A") }}     (Day of week)
{% endif %}

Based on the above, please formulate an answer to the question or request in the user's last message. 
It is important that you ensure the answer is grounded in the provided documents and conversation context. 
Avoid speculating or making assumptions beyond the given information and keep your answers short, 2 to 3 sentences at most.
