version: "3"

x-license: &license
  RASA_PRO_LICENSE: ${RASA_PRO_LICENSE}

services:
  otel-collector:
    image: otel/opentelemetry-collector@sha256:cec18c72535bebeaca3615e841b19066b468f87a2e29b724b118b5b7bf8808ce
    command: ["--config=/etc/otel-collector-config.yml"]
    volumes:
      - ./otel-collector-config.yml:/etc/otel-collector-config.yml
      - ./certs/cert.pem:/certs/cert.pem
      - ./certs/cert-key.pem:/certs/cert-key.pem
    networks: [ 'rasa-pro-network' ]
    ports:
      - "4317"

  jaeger:
    image: jaegertracing/all-in-one@sha256:2fe77574dc1a9fe4da54c086c0c98feacce3ff87ab9addba933b7fc9b6d8de19
    networks: [ 'rasa-pro-network' ]
    ports:
      - "16686:16686"
      - "14250"
      - "6831:6831/udp"
      - "16685:16685"

  rasa-pro-jaeger:
    image: ${TARGET_IMAGE_REGISTRY}/rasa-pro:${IMAGE_TAG}
    volumes:
      - "./simple_bot:/app"
      - "./endpoints-jaeger.yml:/app/endpoints.yml"
    entrypoint: ""
    command: rasa run -p 5006 --enable-api
    networks: [ 'rasa-pro-network' ]
    ports:
      - "5006:5006"
    environment:
      <<: *license

  rasa-pro-otlp:
    image: ${TARGET_IMAGE_REGISTRY}/rasa-pro:${IMAGE_TAG}
    volumes:
      - "./simple_bot:/app"
      - "./endpoints-otlp.yml:/app/endpoints.yml"
      - "./certs/ca.pem:/certs/ca.pem"
    entrypoint: ""
    command: rasa run -p 5007 --enable-api
    networks: [ 'rasa-pro-network' ]
    ports:
      - "5007:5007"
    environment:
      <<: *license

  rasa-pro-jaeger-no-action-server:
    image: ${TARGET_IMAGE_REGISTRY}/rasa-pro:${IMAGE_TAG}
    volumes:
      - "./simple_bot:/app"
      - "./endpoints-jaeger-no-action-server.yml:/app/endpoints.yml"
    entrypoint: ""
    command: rasa run -p 5008 --enable-api
    networks: [ 'rasa-pro-network' ]
    ports:
      - "5008:5008"
    environment:
      <<: *license

  rasa-pro-otlp-no-action-server:
    image: ${TARGET_IMAGE_REGISTRY}/rasa-pro:${IMAGE_TAG}
    volumes:
      - "./simple_bot:/app"
      - "./endpoints-otlp-no-action-server.yml:/app/endpoints.yml"
      - "./certs/ca.pem:/certs/ca.pem"
    entrypoint: ""
    command: rasa run -p 5009 --enable-api
    networks: [ 'rasa-pro-network' ]
    ports:
      - "5009:5009"
    environment:
      <<: *license

  action-server-jaeger:
    image: action_server:latest
    volumes:
      - "./endpoints-jaeger-for-action-server.yml:/app/endpoints.yml"
    networks: [ 'rasa-pro-network' ]
    entrypoint: ""
    command: python -m action_server -p 5056
    ports:
      - "5056:5056"
    environment:
      <<: *license


  action-server-otlp:
    image: action_server:latest
    volumes:
      - "./endpoints-otlp-for-action-server.yml:/app/endpoints.yml"
      - "./certs/ca.pem:/certs/ca.pem"
    networks: [ 'rasa-pro-network' ]
    entrypoint: ""
    command: python -m action_server -p 5057
    ports:
      - "5057:5057"
    environment:
      <<: *license


networks: { rasa-pro-network: { } }
