# Minimum Instal Requirements
-r requirements_bare.txt

# Spacy Requirements
-r requirements_spacy_sklearn.txt

# Tensorflow Requirements
-r requirements_tensorflow_sklearn.txt

Jpype1==0.6.2
duckling==1.8.0
