# mitie
git+https://github.com/mit-nlp/MITIE.git#egg=mitie
# spacy
spacy==1.8.2
# sklearn
scikit-learn==0.18.1
scipy==0.19.0
matplotlib==1.5.3
# duckling
duckling==1.7.1
# sklearn_crfsuite
sklearn-crfsuite==0.3.5
# cloudpickle
cloudpickle==0.2.2
# test
python-coveralls==2.9.1
pytest-pep8==1.0.6
pytest-services==1.1.14
pytest-cov==2.5.1
pytest-twisted==1.5
pytest==3.0.7
requests==2.18.1
treq==17.3.1
# other
google-cloud-storage==1.0.0
# docs
sphinx-autobuild==0.6.0
sphinxcontrib-versioning==2.2.1
nbsphinx==0.2.13
-e git://github.com/RasaHQ/sphinx_rtd_theme.git#egg=sphinx_rtd_theme
-e .
