-r requirements_full.txt

# test
python-coveralls==2.9.1
pytest-pep8==1.0.6
pytest-services==1.2.1
pytest-cov==2.5.1
pytest-twisted==1.6
pytest==3.3.2
treq==17.8.0
moto==1.2.0
mock==2.0.0
# other
google-cloud-storage==1.7.0

# docs
sphinx==1.5.2
sphinx-autobuild==0.7.1
sphinxcontrib-versioning==2.2.1
nbsphinx==0.2.18
-e git://github.com/RasaHQ/sphinx_rtd_theme.git#egg=sphinx_rtd_theme
