# Minimum Install Requirements
-r ../requirements.txt

# Spacy Requirements
-r requirements_pretrained_embeddings_spacy.txt

# MITIE Requirements
-r requirements_pretrained_embeddings_mitie.txt

jieba==0.39
