-r requirements_full.txt

-r requirements_docs.txt

# test
python-coveralls==2.9.1
pytest-pep8==1.0.6
pytest-cov==2.5.1
pytest-twisted==1.6
pytest==3.3.2
treq==17.8.0
moto==1.2.0
mock==2.0.0
responses==0.9.0
httpretty==0.9.5
# other
google-cloud-storage==1.7.0
azure-storage-blob==1.0.0
boto3==1.5.20
