.admonition.admonition-info {
    background-color: rgb(238, 249, 253);
    border-radius: 4px;
}


.admonition.admonition-info .admonition-content {
    color: rgb(25, 60, 71);
}

.admonition.admonition-info .admonition-heading {
    color: rgb(25, 60, 71);
}
