:root {
  // Links.
  --ifm-link-color: var(--ifm-color-primary);
  --ifm-link-decoration: none;
  --ifm-link-hover-color: var(--ifm-link-color);
  --ifm-link-hover-decoration: underline;

  // Paragraphs.
  --ifm-paragraph-margin-bottom: var(--ifm-leading);

  // Blockquotes.
  --ifm-blockquote-color: #6a737d;
  --ifm-blockquote-font-size: var(--ifm-font-size-base);
  --ifm-blockquote-padding-horizontal: 1rem;
  --ifm-blockquote-padding-vertical: 1rem;

  // Horizontal Rules.
  --ifm-hr-border-color: var(--ifm-color-emphasis-500);
  --ifm-hr-border-width: 1px;
  --ifm-hr-margin-vertical: 1.5rem;
}

strong {
  font-weight: var(--ifm-font-weight-bold);
}

// Links
a {
  color: var(--ifm-link-color);
  text-decoration: var(--ifm-link-decoration);

  &:hover {
    color: var(--ifm-link-hover-color);
    text-decoration: var(--ifm-link-hover-decoration);
  }

  &:active,
  &:hover {
    outline-width: 0;
  }

  &:not([href]) {
    text-decoration: none;
  }
}

// Paragraphs
p {
  margin-top: 0;
  margin-bottom: var(--ifm-paragraph-margin-bottom);
}

// Blockquotes
blockquote {
  border-left: 6px solid var(--ifm-color-emphasis-300);
  color: var(--ifm-blockquote-color);
  font-size: var(--ifm-blockquote-font-size);
  margin: 0;
  margin-bottom: var(--ifm-spacing-vertical);
  padding: var(--ifm-blockquote-padding-vertical)
    var(--ifm-blockquote-padding-horizontal);

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

// Horizontal Rules
hr {
  border-color: var(--ifm-hr-border-color);
  border-style: solid;
  border-width: var(--ifm-hr-border-width);
  box-sizing: content-box;
  margin: var(--ifm-hr-margin-vertical) 0;
  overflow: hidden;
  padding: 0;

  &:before {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
    content: '';
    display: table;
  }
}
