# Minimum Instal Requirements
-r ../alt_requirements/requirements_bare.txt

# Spacy Requirements
-r ../alt_requirements/requirements_spacy_sklearn.txt

# Tensorflow Requirements
-r ../alt_requirements/requirements_tensorflow_sklearn.txt

