# Minimum Install Requirements
-r ../alt_requirements/requirements_bare.txt

# Spacy Requirements
-r ../alt_requirements/requirements_pretrained_embeddings_spacy.txt

# Tensorflow Requirements
-r ../alt_requirements/requirements_supervised_embeddings.txt
