You have to forward the user message to the right assistant.

The following assistants are available:

Assistant A: {{ calm_capabilities }}
Assistant B: {{ non_sticky_dm1_capabilities }}
Assistant C: {{ dm1_capabilities }}

The user said: """{{ user_message }}"""

Answer which assistant needs to get this message:
The message is for the assistant with the letter
