@each $color in (primary, secondary, success, info, warning, danger) {
  .text--$(color) {
    color: var(--ifm-color-$(color));
  }
}

@each $align in (center, left, justify, right) {
  .text--$(align) {
    text-align: $align;
  }
}

@each $transform in (capitalize, lowercase, uppercase) {
  .text--$(transform) {
    text-transform: $transform;
  }
}

@each $weight in (light, normal, semibold, bold) {
  .text--$(weight) {
    font-weight: var(--ifm-font-weight-$(weight));
  }
}

.text--italic {
  font-style: italic;
}

.text--truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text--break {
  word-break: break-word !important;
  overflow-wrap: break-word !important;
}

.text--no-decoration {
  &,
  &:hover {
    text-decoration: none;
  }
}
